<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ICON GO TO -->
	<link rel="shortcut icon" th:href="@{/img/icon_goto.png}" type="image/x-icon">

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- REMIX ICON -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!-- CSS EXTERNO -->
	<link rel="stylesheet" th:href="@{/css/all.css}">

	<title> EDITAR STATUS | Agência de Viagens </title>

</head>

<body>

	<!-- CABEÇALHO -->
	<div class="container mt-3">

		<header class="row">

			<div class="col-sm-6 mb-2 text-justify">
				<a href="/">
					<img th:src="@{/img/agencia_viagens_small.png}" alt="Logo" height="60px">
				</a>
			</div>

			<div class="col-sm-6 text-center">

				<h5> Pensou em viajar?! </h5>
				<p class="small"> A Go To Viagens te leva aonde você quer chegar! </p>

			</div>


		</header>

		<!-- FIM CABEÇALHO -->


		<!-- INÍCIO MENUS -->

		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse relative" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item active text-center">
						<a class="nav-link btn-hover" href="/admin"> HOME <span
								class="visually-hidden">(current)</span></a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link btn-hover" href="/listarContatos">SOLICITAÇÃO DE CONTATO</a>
					</li>

				</ul>

			</div>

		</nav>

	</div>

	<!-- FIM MENUS -->



	<!-- INÍCIO CONTATO FORM -->
	<div class="container">

		<div class="row mt-3">

			<div class="col-12">
				<h3 class="text-center text-padrao"> SOLICITAÇÃO DE CONTATO </h3>
			</div>

		</div>


		<div class="row mt-3">

			<form method="post" th:object="${faleConosco}">

				<div class="col-12">

					<div class="col-8 offset-2">

						<input type="text" class="form-control" th:field="*{nome}" th:value="*{nome}" disabled />
						
						<input type="text" class="form-control" name="nome" th:field="*{nome}" th:value="*{nome}" id="nome"
							placeholder="Digite seu nome" hidden />

					</div>


					<div class="col-8 offset-2 mt-3">

						<input type="email" class="form-control" th:field="*{email}" th:value="*{email}" id="email" disabled />
						
						<input type="email" class="form-control" name="email" th:field="*{email}" th:value="*{email}" id="email"
							hidden />

					</div>

					<div class="col-8 offset-2 mt-3">

						<textarea class="form-control size" th:field="*{mensagem}" id="mensagem"
							cols="30" rows="5" placeholder="Digite sua mensagem aqui" disabled></textarea>
							
						<textarea class="form-control size" name="mensagem" th:field="*{mensagem}" id="mensagem"
							cols="30" rows="5" hidden></textarea>

					</div>

					<div class="col-8 offset-2 mt-3">

						<label for="dataContato"> Data de solicitação de contato: </label>
						<input type="date" class="form-control bg-warning" th:field="*{dataContato}" id="dataContato" disabled />
						<input type="date" class="form-control bg-warning" name="dataContato" th:field="*{dataContato}" id="dataContato" hidden />

					</div>

					<div class="col-8 offset-2 mt-3">

						<label for="dataContato"> Data de resposta: </label>
						<input type="date" class="form-control bg-success text-light" name="dataResposta"
							th:field="*{dataResposta}" id="dataResposta" />

					</div>

					<div class="col-8 offset-2 mt-3">

						<input type="text" class="form-control" name="status" th:field="*{status}" id="status"
							placeholder="Insira o status - Ex: Respondido" maxlength="20" required />


					</div>

					<div class="col-8 offset-2 mt-3 mb-5">

						<button class="botao_login" type="submit" style="width: 100%;"> Atualizar </button>

					</div>


				</div>

			</form>

		</div>




	</div>
	<!-- FIM CONTATO FORM -->


	<!-- INÍCIO CELL E EMAIL -->

	<div class="container">
		<div class="row text-center mb-5">

			<div class="col-md-6 ">

				<div style="font-size: 16px;">

					<i class="ri-phone-line"> (81) 98888-8335</i>

				</div>


			</div>


			<div class="col-md-6">

				<div class="d-inline align-middle" style="font-size: 16px;">

					<i class="ri-mail-line align-middle"> </i>

					<span class="align-middle"> gotoviagens@gmail.com </span>

				</div>


			</div>

		</div>



	</div>


	<!-- FIM CELL E EMAIL -->


	<!-- ICON SCROLL TOP -->

	<i onclick="subirTela()" class="ri-arrow-up-s-line" id="icon-top"></i>

	<!-- ICON SCROLL TOP -->


	<!-- RODAPÉ -->
	<footer class="container-fluid bg-light">


		<div class="row mb-3">

			<div class="col-sm-6 mb-2 text-right">
				<a href="/">
					<img th:src="@{/img/agencia_viagens_small.png}" alt="logo" width="150px">
				</a>
			</div>

			<div class="col-sm-6 text-justify">

				<h5> Go To Viagens </h5>
				<p class="m-0 small">CNPJ 12.123.123/0001-12</p>
				<p class="m-0 small">Rua Giovane Souza, 0010 - HTML CSS BOOTSTRAP</p>
				<p class="m-0 small">CEP: 10100-011, Internet/JS</p>

			</div>


		</div>


		<div class="row mt-4 mb-3">
			<div class="col-12 text-center"> &copy 2022 - Go To Agência de Viagens </div>
		</div>


	</footer>

	<script th:src="@{/js/all.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- INSERINDO VALOR AO INPUT DATA -->
	<script>

		const inputDate = document.querySelector('#dataResposta');
		const dataHoje = new Date();

		const d = dataHoje.getDate().toString().padStart(2, '0'); // Dia com 2 digitos;
		const m = String(dataHoje.getMonth() + 1).padStart(2, '0'); // Mês com 2 digitos
		const y = dataHoje.getFullYear(); // Ano com 4 digitos


		inputDate.value = `${y}-${m}-${d}`;

	</script>
</body>

</html>