<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ICON GO TO -->
	<link rel="shortcut icon" th:href="@{/img/icon_goto.png}" type="image/x-icon">

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- REMIX ICON -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!-- CSS EXTERNO -->
	<link rel="stylesheet" th:href="@{/css/all.css}">

	<title> Termos e Condições - Go To | Agência de Viagens </title>

</head>

<body>


	<!-- CABEÇALHO -->

	<div class="container-fluid mt-3">

		<header class="row">


			<div class="col-sm-6 mb-2 text-justify">
				<a href="/">
					<img th:src="@{/img/agencia_viagens_small.png}" alt="Logo" height="60px">
				</a>
			</div>

			<div class="col-sm-6 text-center">

				<h5> Pensou em viajar?! </h5>
				<p class="small"> A Go To Viagens te leva aonde você quer chegar! </p>

			</div>


		</header>

		<!-- FIM CABEÇALHO -->


		<!-- INÍCIO MENUS -->

		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse relative" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item active text-center">
						<a class="nav-link btn-hover" href="/"> HOME <span class="visually-hidden">(current)</span></a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link btn-hover" href="/promocoes">PROMOÇÕES</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link btn-hover" href="/destinos">DESTINOS</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link btn-hover" href="/contato">CONTATO</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link login absolute-right" href="/login">LOGIN</a>
					</li>
				</ul>

			</div>

		</nav>

	</div>

	<!-- FIM MENUS -->



	<!-- INÍCIO TERMOS E CONDIÇÕES -->
	<div class="container mt-5 mb-5">

		<div class="row">

			<div class="col-12 text-alinhado">

				<p class="text-padrao"> <strong> TERMOS E CONDIÇÕES GERAIS DE USO </strong> </p>

				<p>
					O presente documento de Termos e Condições Gerais de Uso do Site refere-se ao uso dos serviços
					oferecidos pela Go To Viagens, por meio do presente site.

				</p>

				<P> É IMPERATIVO QUE TODO USUÁRIO, SEJA PESSOA FÍSICA OU JURÍDICA, QUE TENHA INTENÇÃO DE UTILIZAR OS
					SERVIÇOS DA GO TO VIAGENS, ACEITE ESTES TERMOS E CONDIÇÕES GERAIS DE USO DO SITE E TODAS AS DEMAIS
					POLÍTICAS E PRÁTICAS QUE O REGEM.

				</P>

				<p>

					Antes de realizar cadastro em nosso website, o usuário deve ler atenciosamente e certificar-se de
					haver compreendido e aceito todas as condições estabelecidas nos Termos e Condições Gerais de Uso do
					Site, Políticas de Privacidade e demais documentos incorporados aos mesmos por referência.

				</p>


				<p class="text-padrao mt-4"> <strong> 01) Objeto </strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio perferendis quae nesciunt
					perspiciatis eaque facilis, ex nam expedita vel pariatur natus? Itaque quis vitae beatae vero,
					asperiores tempora? Odit, eligendi?

				</p>


				<p class="text-padrao mt-4"> <strong> 02) Capacidade para registrar-se </strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio perferendis quae nesciunt
					perspiciatis eaque facilis, ex nam expedita vel pariatur natus? Itaque quis vitae beatae vero,
					asperiores tempora? Odit, eligendi?

				</p>


				<p class="text-padrao mt-4"> <strong> 03) Cadastro </strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio perferendis quae nesciunt
					perspiciatis eaque facilis, ex nam expedita vel pariatur natus? Itaque quis vitae beatae vero,
					asperiores tempora? Odit, eligendi?

				</p>


				<p class="text-padrao mt-4"> <strong> 04) Modificações dos Termos e Condições Gerais de Uso do Site
					</strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio perferendis quae nesciunt
					perspiciatis eaque facilis, ex nam expedita vel pariatur natus? Itaque quis vitae beatae vero,
					asperiores tempora? Odit, eligendi?

				</p>


				<p class="text-padrao mt-4"> <strong> 05) Privacidade da informação </strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio perferendis quae nesciunt
					perspiciatis eaque facilis, ex nam expedita vel pariatur natus? Itaque quis vitae beatae vero,
					asperiores tempora? Odit, eligendi?

				</p>


				<p class="text-padrao mt-4"> <strong> 06) Obrigações </strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>

				<p> <strong> 6.1 - Obrigações do usuário </strong></p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consectetur iure odit saepe veniam
					maiores, veritatis perferendis eaque voluptatum nam. Officiis maxime cupiditate ullam non, voluptas
					repudiandae officia rerum veritatis.</p>

				<p> <strong>6.2 - Obrigações da 123Milhas </strong></p>

				Lorem ipsum dolor sit amet consectetur adipisicing elit. In perferendis natus quod consequatur iure
				autem, repudiandae temporibus quis molestiae. Harum sint, maiores ratione obcaecati reprehenderit atque
				sed in rem fugiat.


				<p class="text-padrao mt-4"> <strong>
						07) Violação no sistema ou na base de dados </strong> </p>


				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>


				<p class="text-padrao mt-4"> <strong>

						08) Sanções </strong> </p>

				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>



				<p class="text-padrao mt-4"> <strong>

						09) Responsabilidades </strong> </p>


				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>


				<p class="text-padrao mt-4"> <strong>

						10) Falhas no sistema </strong> </p>


				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>



				<p class="text-padrao mt-4"> <strong>

						11) Propriedade intelectual e links </strong> </p>


				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>



				<p class="text-padrao mt-4"> <strong>

						12) Indenização </strong> </p>


				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.

				</p>



				<p class="text-padrao mt-4"> <strong>

						13) Legislação aplicável e foro de eleição </strong> </p>


				<p>
					Todos os itens deste Termos e Condições Gerais de Uso do Site são regidos pelas leis vigentes na
					República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou
					a qualquer outro questionamento relacionado a estes Termos e Condições Gerais de Uso do Site, as
					partes concordam em se submeter ao foro da Comarca de Belo Horizonte - Minas Gerais, com exceção de
					reclamações apresentadas por usuários que se enquadrem no conceito legal de consumidores, que
					poderão submeter tais reclamações ao foro de seu domicílio.

					Das disposições gerais:
					Sem prejuízo das disposições constantes deste Termo, todas as demais regras concernentes aos
					bilhetes aéreos convencionais serão aplicadas ao bilhete adquirido pelo usuário com a utilização de
					milhas/pontos de programas de fidelidade, incluindo, mas não se limitando a: disposições da Lei nº.
					8.078/90 (Código de Defesa do Consumidor), normas da Agência Nacional de Aviação Civil – ANAC e
					regulamentos internos de cada companhia aérea.
					Este Termo, uma vez firmado pelas partes, constitui o acordo completo, final, irrevogável e
					irretratável entre elas, substituindo todos os entendimentos, compromissos, mensagem via e-mail ou
					fax, cartas ou correspondências anteriores e em relação ao assunto objeto deste contrato.

				</p>


			</div>

		</div>


	</div>
	<!-- FIM TERMOS E CONDIÇÕES  -->


	<!-- ICON SCROLL TOP -->
	<i onclick="subirTela()" class="ri-arrow-up-s-line" id="icon-top"></i>

	<!-- ICON SCROLL TOP -->



	<!-- RODAPÉ -->
	<footer class="container-fluid bg-light">

		<div class="row mb-3">

			<div class="col-sm-6 mb-2 text-right">
				<a href="/">
					<img th:src="@{/img/agencia_viagens_small.png}" alt="logo" width="150px">
				</a>
			</div>

			<div class="col-sm-6 text-justify">

				<h5> Go To Viagens </h5>
				<p class="m-0 small">CNPJ 12.123.123/0001-12</p>
				<p class="m-0 small">Rua Giovane Souza, 0010 - HTML CSS BOOTSTRAP</p>
				<p class="m-0 small">CEP: 10100-011, Internet/JS</p>

			</div>

		</div>


		<div class="row">

			<div class="col-12">

				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button bg-light text-primary" type="button"
								data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne">
								FORMAS DE PAGAMENTO
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
							data-bs-parent="#accordionExample">
							<div class="accordion-body text-center">

								<img class="img-fluid"
									src="https://i0.wp.com/urucuna.com/wp-content/uploads/2021/02/bandeiras-cartoes-credito.png?ssl=1"
									alt="formas de pagamento">

							</div>
						</div>
					</div>

				</div>



			</div>

		</div>



		<div class="row mt-4 mb-2">

			<div class="col-lg-2 col-sm-4 small"> <a class="link_rodape" href="/quemsomos"> Quem somos </a> </div>
			<div class="col-lg-2 col-sm-4 small"> <a class="link_rodape" href="/centralajuda"> Central de ajuda </a>
			</div>
			<div class="col-lg-2 col-sm-4 small"> <a class="link_rodape" href="#"> Termos e condições
				</a> </div>
			<div class="col-lg-2 col-sm-4 small"> <a class="link_rodape" href="/duvidas"> Dúvidas </a> </div>
			<div class="col-lg-2 col-sm-4 small"> <a class="link_rodape" href="/contato"> Clique para falar conosco
				</a> </div>
			<div class="col-lg-2 col-sm-4 small"> <a class="link_rodape" href="/trabalheconosco"> Trabalhe conosco
				</a> </div>

		</div>



		<div class="row mt-4 mb-3">
			<div class="col-12 text-center"> &copy 2022 - Go To Agência de Viagens </div>
		</div>



	</footer>

	<script th:src="@{/js/all.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>